/* #customers {
    font-family: 'Avenir LT Std', sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 9px solid #d3d3d3;
    border-bottom: none;
}

#customers td {
    border: 1px solid rgba(252, 252, 252, 0.26);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
} */

.table-hover tr:nth-child(even){background-color: #b8b7b75e;}

.table-hover tr:hover {background-color: rgba(199, 204, 194, 0.774);color: rgba(10, 53, 49, 0.705);}

.userDetails {
    text-align: center;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: maroon;
}

/* .table td {
    padding: 1rem;
    margin: 5px;
} */